@import "tailwindcss";

@theme {
    --color-eyes-care: #b347ed;
    --color-eyes-care-light: #eeeeee;
    --color-eyes-care-dark: #090909;

    --font-eyes-care: "Departure Mono", monospace;
    --default-font-family: var(--font-eyes-care);
}

@layer base {
    *:focus-visible {
        outline: 2px solid var(--color-eyes-care);
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@font-face {
    font-family: "Departure Mono";
    src:
        url("/resources/fonts/DepartureMono-Regular.woff2") format("woff2"),
        url("/resources/fonts/DepartureMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
